@import "../../src/app/globals.scss";

.homePage {
  width: 100%;
  display: flex;
  margin: auto;
  margin-top: 100px;
  position: relative;

  section {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: calc(100vw - 500px);
    margin-top: 50px;

    span {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      .contacts {
        margin: auto;
        display: flex;
        margin-right: 30px;
        a {
          .contactIcons {
            font-size: clamp(1.8rem, 2vw, 2.3rem);
            margin: auto 10px;
            transition: all 0.5s ease-in-out;
            filter: grayscale(100%);

            &:hover {
              cursor: pointer;
              filter: grayscale(0%);
            }
          }
        }
      }

      h1 {
        font-size: clamp(2rem, 4vw, 5rem);
        font-family: $titleFont;
        text-align: right;
        margin: auto 0;
      }
    }

    h4 {
      font-size: clamp(1.2rem, 1.5vw, 4rem);
      font-family: $subTitleFont;
      text-align: right;
      width: 100%;
      margin-top: 10px;
    }

    p {
      font-size: clamp(0.8rem, 1.1vw, 2rem);
      font-family: $paragraphFont;
      text-align: right;
      width: 100%;
      margin-top: 40px;
    }

    .buttons {
      display: flex;
      align-items: center;
      margin-top: 100px;

      button {
        font-family: $subTitleFont;
        font-size: clamp(0.7rem, 1vw, 4rem);
        border-radius: 50px;
        margin: auto;
        width: 300px;
        height: 70px;
        transition: all 1s ease;

        &:hover {
          border-radius: 20px;
        }
      }

      .hire {
        background: linear-gradient(150deg, $primaryColor3, $secondaryColor1);
        margin-left: 10px;
        color: $lightColor;
      }

      .resume {
        background: linear-gradient(150deg, $primaryColor3, $secondaryColor3);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-right: 10px;
        border: 1px solid $primaryColor3;
      }
    }
  }
}

/* Tablet */
@media (max-width: 1200px) {
  .homePage {
    flex-direction: column;
    section {
      width: 100%;
      max-width: 100%;
      margin-top: 0;

      .buttons {
        margin-top: 100px;

        button {
          height: 60px;
        }
      }
    }
  }
}

/* Mobile */
@media (max-width: 600px) {
  .homePage {
    margin-top: 50px;

    section {
      .buttons {
        .resume,
        .hire {
          height: 45px;
        }
      }
    }
  }
}
