@import "../../src/app/globals.scss";

.aboutPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 100px;

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin: auto;
    margin-left: 0;
    animation: comeIn 2s ease-in-out forwards;
    margin-top: 230px;

    .footerImage {
      width: 300px;
      height: 300px;
      object-fit: cover;
      z-index: 2;
      clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
      background-color: whitesmoke;
    }
  }

  @keyframes comeIn {
    0% {
      left: 500px;
    }
    100% {
      left: 0;
    }
  }
}

/* Tablet */
@media (max-width: 1200px) {
  .aboutPage {
    .footer {
      .footerImage {
        width: 200px;
        height: 250px;
      }
    }
  }
}

/* Mobile */
@media (max-width: 700px) {
  .aboutPage {
    flex-direction: column;
    margin-top: 50px;

    .footer {
      .footerImage {
        width: 150px;
        height: 200px;
      }
    }
  }
}
