@import "./globals.scss";

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;

  .grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(25%, auto));
    max-width: 100%;
    width: var(--max-width);
  }

  article {
    width: 100%;
    display: flex;

    section {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin-top: 150px;

      h1 {
        font-size: 70px;
        font-family: $titleFont;
        text-align: right;
        width: 100%;
      }

      h4 {
        font-size: 30px;
        font-family: $paragraphFont;
        text-align: right;
        width: 100%;
        margin-top: 10px;
      }

      p {
        font-size: 18px;
        font-family: $paragraphFont;
        text-align: right;
        width: 100%;
        margin-top: 40px;
      }

      .buttons {
        display: flex;
        align-items: center;
        margin-top: 300px;

        button {
          font-family: $mainFont;
          border-radius: 50px;
          margin: auto;
          width: 300px;
          height: 70px;
          transition: all 1s ease;

          &:hover {
            border-radius: 20px;
          }
        }

        .hire {
          background: linear-gradient(45deg, $primaryColor3, $secondaryColor1);
          margin-left: 10px;
          color: $lightColor;
        }

        .resume {
          background: linear-gradient(45deg, $primaryColor3, $secondaryColor3);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          margin-right: 10px;
          border: 1px solid $primaryColor3;
        }
      }
    }

    .myImageContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      padding: 4rem 0;
      width: 50%;

      .contacts {
        display: flex;
        margin-top: 50px;

        .contactIcons {
          // color: $primaryColor3;
          font-size: 30px;
          margin: auto 5px;
          z-index: 5;
          transition: all 0.5s ease;

          &:hover {
            margin: auto 20px;
            cursor: pointer;
          }
        }
      }

      .myImage {
        position: relative;
        z-index: 2;
      }

      .backDecor {
        position: absolute;
        z-index: 1;
        margin-bottom: -50px;
      }
    }
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .myImageContainer {
    padding: 8rem 0 6rem;
  }

  .myImageContainer {
    &::before {
      transform: none;
      height: 300px;
    }
  }

  .description {
    font-size: 0.8rem;

    a {
      padding: 1rem;
    }

    p,
    div {
      display: flex;
      justify-content: center;
      position: fixed;
      width: 100%;
    }

    p {
      align-items: center;
      inset: 0 0 auto;
      padding: 2rem 1rem 1.4rem;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
      background: linear-gradient(
        to bottom,
        rgba(var(--background-start-rgb), 1),
        rgba(var(--callout-rgb), 0.5)
      );
      background-clip: padding-box;
      backdrop-filter: blur(24px);
    }

    div {
      align-items: flex-end;
      pointer-events: none;
      inset: auto 0 0;
      padding: 2rem;
      height: 200px;
      background: linear-gradient(
        to bottom,
        transparent 0%,
        rgb(var(--background-end-rgb)) 40%
      );
      z-index: 1;
    }
  }
}
