@import "../../src/app/globals.scss";

.header {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;

  .navBar {
    margin: auto;
    margin-right: 0;
    display: flex;
    width: 55%;
    align-items: center;
    align-content: center;

    .themeChanger {
      width: 70px;
      height: 30px;
      background-color: rgb(112, 171, 255);
      border: none;
      border-radius: 100px;
      overflow: hidden;
      z-index: 0;
      margin-right: 30px;
      margin-top: -5px;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

      &:hover {
        cursor: pointer;

        .themeChangerToggleIconLight {
          transform: rotateZ(180deg);
        }

        .wave {
          left: -90px;
        }
      }

      .themeChangerToggleIconLight,
      .themeChangerToggleIconDark {
        color: gold;
        font-size: 31px;
        z-index: 0;
        position: relative;
        right: -20px;
        transition: all 0.5s ease-in-out;
      }

      .themeChangerToggleIconDark {
        color: whitesmoke;
        right: 20px;
      }

      .wave {
        position: relative;
        top: -18px;
        left: -13px;
        width: 80px;
        z-index: -1;
        transition: all 0.2s ease-in-out;
      }
    }

    .nav {
      margin: auto;
      display: flex;
      flex-direction: column;

      &:hover {
        .decoration {
          width: 0;
        }
      }

      .decoration {
        width: 100%;
        height: 10px;
        margin-top: -5px;
        position: relative;
        transition: all 0.5s ease-in-out;
      }

      a {
        list-style: none;
        font-size: 18px;
        text-decoration: none;
        font-family: $mainFont;
        transition: all 0.2s ease-in-out;
        padding-bottom: 5px;
        border-bottom: 2px solid rgb(83, 129, 255);
      }
    }
  }

  .logoContainer {
    margin: auto;
    margin-left: 0;
  }
}
